<div>
  <h3>{{document?.title}}</h3>
  <p *ngIf="document?.author">Author: {{document.author}}</p>
  <p *ngIf="document?.dateCreated">Creation date: {{document.dateCreated}}</p>
   <ng-container *ngFor="let page of document?.pages; let i = index">
     <button
     pButton
     pRipple
     type="button"
     label="{{i + 1}}"
     (click)="view(page)"
     class="p-button-rounded p-button-success p-m-1"></button>
   </ng-container>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    (click)="addPage()"
    class="p-button-rounded p-button-success p-m-1"></button>
</div>

<div #displayAddPAge></div>
